body {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}



/* header start */

* {
    border: red solid 0px;
}

header,
.section-one {
    background-color: #1F2937;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1745px;
    height: auto;
    flex-shrink: 0;
}

header ul {
    display: flex;
    list-style: none;
    padding-left: 0px;
    gap: 20px;
    font-size: 18px;
    color: #E5E7EB;
    margin-left: 250px;
}

.header-logo-text {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: 250px;
    font-weight: bold;
}

/* section-one start */

.section-one {
    display: flex;
    padding: 100px 200px 100px 200px;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    
}

.section-one .container-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 480px;
   
}

.section-one .container-left p {
 margin-top: 5px;
 margin-bottom: 10px;
}

.section-one .container-left h1 {
margin-top: 0px;
margin-bottom: 0px;
}

.section-one .img {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    height: 238px;
    width: 526px;
    flex-shrink: 0;
    background-color: #868686;
    font-size: 18px;
    
}

.section-one button {
    width: 125px;
    height: 38px;
    border-radius: 8px;
    background-color: rgb(68, 133, 255);
    color: white;
    font-weight: bold;
    font-size: 18px;

}

.section-one p {
    font-size: 18px;
    color: #E5E7EB;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.middle-container {
    flex-basis: 50px;
    max-width: 50px;
}

/* section-two start */

